.navbar{
    background: linear-gradient(to right, rgb(255, 146, 44), rgb(255, 4, 4));
    padding: 20px 20px;
    i{
        color: white;
        font-size: 40px;
        margin-top: -5px;
    }
    span {
        margin-left: 60px;
        font-size: 20px;
        cursor: pointer;
        width: 100%;
        color: white;
    }  
}
.a1{
    padding: 10px 30px;
    text-decoration: none;
    color: orangered;
    background-color: rgb(231, 228, 228);
    border-radius: 10px 0 0 10px;
    &.active,
    &:hover{
        background-color: orangered;
        color: white;
        border-radius: 10px 0 0 10px;

    }
}
.a2{
    padding: 10px 30px;
    text-decoration: none;
    color: orangered;
    background-color: rgb(231, 228, 228);   
    border-radius: 0 10px 10px 0;
    &.active,
    &:hover{
        background-color: orangered;
        color: white;
        border-radius: 0 10px 10px 0;

    }        
}
.uProfile{
    margin: 20px 20px;
    .uImg img{
        margin-left: 10px;
        width: 90px;
        border-radius: 50%;
        border: 10px solid rgb(253, 252, 252);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.344);
  
    }
    .uInfo{
        margin-left: 20px;
        margin-top: 20px;
        span{
            color: black;
            font-weight: 800;
        }
    }
}
form{
    margin: 20px 20px;
    padding: 0px 10px;
    label{
        font-size: 13px;
    }
    input{
        border: none;
        margin-left: 0;
        padding-left: 0;
        border-bottom: 1px solid gray;
        border-radius: 0;
        margin-top: -5px;
        font-size: 15px;
    }
}