<app-sidebar></app-sidebar>
<nav class="navbar">
    <div class="d-flex">
      <i class="tm tmmenu" onclick="openNav()"></i>
      <div>
          <span> &nbsp; &nbsp;David Smith</span>
      </div>
    </div>
</nav>
<section onclick="closeNav()">
    <div class="btn2 d-flex justify-content-center my-4">
            <a href="#" routerLink="../viewProfile" class="a1" routerLinkActive="active">Profile</a>
            <a href="#" class="a2" routerLink="../viewHistory" routerLinkActive="active">History</a>
    </div>
    <div class="uProfile d-flex">
        <div class="uImg">
            <img src="../../assets/img/34.jpg" alt="user">
        </div>
        <div class="uInfo">
             <h5>David Smith</h5>
             <p>Age: 27  &nbsp;|&nbsp;  Gender:<span> Male</span></p>
        </div>
    </div>
    <form>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control"  id="phone">
        </div>
        <div class="form-group">
            <label for="email">Email ID</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="aadharno">Aadhar No./ National ID No.</label>
            <input type="text" class="form-control" id="aadharno">
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address">
        </div>
    </form>
</section>