<div class="containerfluid">
    <div class="thermoMeter text-center fixed-top text-white">
        <h4>Forgot Password</h4>
        <p class="mt-3">Enter your mail below to receive your <br>password reset instruction.</p>
    </div>
   <div class="loginForm mx-4">
    <form>
      <div class="form-group mt-4">
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="Enter Email Id" id="email">
      </div>
     <div class="text-center my-4">
      <button type="submit" class="btn btn-danger px-4" routerLink="../check-temp">Submit</button>
     </div>
    </form>
   </div>
</div>