
.thermoMeter{
    background: linear-gradient(to bottom, rgb(255, 146, 44),rgb(255, 81, 81), rgb(255, 4, 4));
    border-radius: 0 0 50% 50%;
    margin-left: -60px;
    width: 500px;
    padding: 60px 0;
    padding-bottom: 150px;
    z-index: -1;
    h4{
        font-weight: 800;
        font-size: 30px;
    }
    p{
        font-weight: 600;
    }
}
.loginForm{
   background-color: white;
   padding: 10px 10px;
   border-radius: 10px;
   margin-top: 200px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.144);
   input{
       border: none;
       border-radius: 0px;
       border-bottom: 1px solid gray;
       padding: 0;
   }
   label{
       font-size: 13px;
   }
   a{
     color: red;
   }
   button{
       background-color: rgb(252, 104, 35);
       border: none;
       border-radius: 30px;
       box-shadow: 0 0 20px rgba(0, 0, 0, 0.144);
   }
  }