.navbar{
    background: linear-gradient(to right, rgb(255, 146, 44), rgb(255, 4, 4));
    padding: 20px 20px;
    i{
        color: white;
        font-size: 40px;
        margin-top: -5px;
    }
    span {
        margin-left: 80px;
        font-size: 20px;
        cursor: pointer;
        width: 100%;
        color: white;
    }  
}
section{
    h5{
        font-size: 25px;
    }
    p{
        font-size: 15px;
    }
    .share{
        margin-top: 30px;
        margin-bottom: 40px;
        .icon{
            margin: 0 20px;
            p{
                margin-top: 10px;
            }
        }
    }
}    
.done{
    width: 100%;
    margin:45px 0 0 0;
    padding: 0;
    background: rgb(255, 146, 44);
    padding: 20px;
    z-index: 1;
    a{
        color: white;
        font-size: 20px;
        text-decoration: none;
        padding: 0 100px;
    }
}
