<app-sidebar></app-sidebar>
<nav class="navbar">
    <div class="d-flex">
      <i class="tm tmmenu" onclick="openNav()"></i>
      <div>
          <span>History</span>
      </div>
    </div>
</nav>
<section class="m-3" onclick="closeNav()">
    <h5>Hi Shubham,</h5>
    <p>Please check your temperature history</p>
    <img src="../../assets/img/graph.svg" alt="graph" width="100%"> 
    <div class="mt-4 text-center share">
         <p>SHARE GENERATED PASS</p>
         <div class="d-flex justify-content-center">
            <div class="icon">
                <img src="../../assets/img/whatsapp.svg" alt="whatsapp" width="60px">
                <p>Whatsapp</p>
            </div>
            <div class="icon">
               <img src="../../assets/img/message.svg" alt="message" width="60px">
               <p>Message</p>
            </div>
            <div class="icon">
                <img src="../../assets/img/print.svg" alt="print" width="60px">
                <p>Print</p>
            </div>
         </div>
    </div>
</section>
<div class="text-center done fixed-bottom">
    <a class="py-4" routerLink="../check-temp">Done</a>
</div>
