<div class="containerfluid">
    <div class="thermoMeter text-center">
       <img src="../assets/img/logo.png" alt="" width="200px">
    </div>
   <div class="loginForm mx-4">
    <form>
      <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username">
      </div>
      <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="my-4">
        <a href="#" routerLink="../forgetpass">Forget your password ?</a>
      </div>
     <div class="text-center">
      <button type="submit" class="btn btn-danger px-4" routerLink="welcome">Login</button>
     </div>
    </form>
   </div>
</div>