@font-face {
  font-family: 'smartThermoMeter';
  src:  url('../..//assets/fonts/smartThermoMeter.eot?19mfl0');
src:  url('../..//assets/fonts/smartThermoMeter.eot?19mfl0#iefix') format('embedded-opentype'),
    url('../..//assets/fonts/smartThermoMeter.ttf?19mfl0') format('truetype'),
    url('../..//assets/fonts/smartThermoMeter.woff?19mfl0') format('woff'),
    url('../..//assets/fonts/smartThermoMeter.svg?19mfl0#smartThermoMeter') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.tm {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'smartThermoMeter' !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tmbars:before {
  content: "\e900";
}
.tmclipboard:before {
  content: "\e901";
}
.tmedit-tools:before {
  content: "\e902";
}
.tmface-scan:before {
  content: "\e903";
}
.tmfilter:before {
  content: "\e904";
}
.tmheat:before {
  content: "\e905";
}
.tmlike:before {
  content: "\e906";
}
.tmlock:before {
  content: "\e907";
}
.tmlogout:before {
  content: "\e908";
}
.tmmenu:before {
  content: "\e909";
}
.tmright-arrow:before {
  content: "\e90a";
}
.tmscan-face-o:before {
  content: "\e90b";
}
.tmuser:before {
  content: "\e90c";
}
.tmwhatsapp:before {
  content: "\e90d";
}
.thermoMeter{
    background: linear-gradient(to bottom, rgb(255, 146, 44),rgb(255, 81, 81), rgb(255, 4, 4));
    border-radius: 0 0 40% 40%;
    padding-top: 60px;
    padding-bottom: 150px;
}
.loginForm{
    background-color: white;
   padding: 10px 10px;
   border-radius: 10px;
   margin-top: -90px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.144);
   input{
       border: none;
       border-radius: 0px;
       border-bottom: 1px solid gray;
   }
   label{
       font-size: 13px;
   }
   a{
     color: red;
   }
   button{
       background-color: rgb(252, 104, 35);
       border: none;
       border-radius: 30px;
       box-shadow: 0 0 20px rgba(0, 0, 0, 0.144);
   }
  }