.navbar{
    background: linear-gradient(to right, rgb(255, 146, 44), rgb(255, 4, 4));
    padding: 20px 20px;
    i{
        color: white;
        font-size: 40px;
        margin-top: -5px;
    }
    span {
        margin-left: 40px;
        font-size: 20px;
        cursor: pointer;
        width: 100%;
        color: white;
    }  
}
.changePass{
   .form-group{
    padding: 10px 10px;
    input{
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid gray;
        padding-left: 0;
    }
    label{
        font-size: 13px;
    }
   }
   .subminChange{
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgb(255, 146, 44);
    padding: 20px;
    z-index: 1;
    a{
        color: white;
        font-size: 20px;
        text-decoration: none;
        padding: 0 100px;
    }
   }
}