<app-sidebar></app-sidebar>
<nav class="navbar">
    <div class="d-flex">
      <i class="tm tmmenu" onclick="openNav()"></i>
      <div>
          <span> &nbsp; &nbsp;Change Password</span>
      </div>
    </div>
</nav>
<div class="changePass" onclick="closeNav()">
    <form>
        <div class="form-group">
          <label for="pwd">Current Password</label>
          <input type="password" class="form-control" placeholder="Enter password" id="pwd">
        </div>
        <div class="form-group">
            <label for="pwd">New Password</label>
            <input type="password" class="form-control" placeholder="Enter password" id="pwd">
        </div>
        <div class="form-group">
            <label for="pwd">Confirm New Password</label>
            <input type="password" class="form-control" placeholder="Enter password" id="pwd">
        </div>
        <div class="text-center subminChange fixed-bottom">
            <a class="py-4" routerLink="../check-temp">Submit</a>
        </div>
      </form>
</div>