.navbar{
    background: linear-gradient(to right, rgb(255, 146, 44), rgb(255, 4, 4));
    padding: 20px 20px;
    i{
        color: white;
        font-size: 40px;
        margin-top: -5px;
    }
    span {
        margin-left: 70px;
        font-size: 20px;
        cursor: pointer;
        width: 100%;
        color: white;
    }  
    a{
        position: absolute;
        right: 10px;
        i{
            font-size: 25px;
        }
    }
}
.profImg{
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.144);
    img{
    margin: 20px 0;
        width: 90px;
        border-radius: 50%;
        border: 10px solid white;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.144);
    }
}
.userInfo{
    margin-top: 20px;
    .form-group{
        padding: 0px 10px;
        label{
            font-size: 13px;
        }
        input{
            border: none;
            margin-left: 0;
            padding-left: 0;
            border-bottom: 1px solid gray;
            border-radius: 0;
            margin-top: -10px;
            font-size: 15px;
        }
    }
    .submitReg{
        width: 100%;
        margin: 0;
        padding: 0;
        background: rgb(255, 146, 44);
        padding: 20px;
        a{
            color: white;
            font-size: 20px;
            text-decoration: none;
            padding: 0 90px;
        }
    }
}