<app-sidebar></app-sidebar>
<nav class="navbar">
    <div class="d-flex">
      <i class="tm tmmenu" onclick="openNav()"></i>
      <div>
          <span>My Profile</span>
      </div>
    </div>
</nav>
<section onclick="closeNav()">
    <div class="text-center profImg">
         <img src="../../assets/img/34.jpg" alt="Profile">
    </div>
    <div class="userInfo">
        <form>
            <div class="form-group">
                <label for="username">Full Name</label>
                <input type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input type="text" class="form-control" id="age">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address">
            </div>
            <div class="form-group">
                <label for="aadharno">Aadhar No./ National ID No.</label>
                <input type="text" class="form-control" id="aadharno">
            </div>
            <div class="form-group">
                <label for="phone">Phone No.</label>
                <input type="text" class="form-control" id="phone">
            </div>
            <div class="form-group mb-5">
                <label for="email">Email ID</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="text-center submitReg">
                <a class="py-4" routerLink="../check-temp">Save</a>
            </div>
        </form>
    </div>
</section>