@charset "UTF-8";
@font-face {
  font-family: "smartThermoMeter";
  src: url("../..//assets/fonts/smartThermoMeter.eot?19mfl0");
  src: url("../..//assets/fonts/smartThermoMeter.eot?19mfl0#iefix") format("embedded-opentype"), url("../..//assets/fonts/smartThermoMeter.ttf?19mfl0") format("truetype"), url("../..//assets/fonts/smartThermoMeter.woff?19mfl0") format("woff"), url("../..//assets/fonts/smartThermoMeter.svg?19mfl0#smartThermoMeter") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.tm {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "smartThermoMeter" !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tmbars:before {
  content: "";
}

.tmclipboard:before {
  content: "";
}

.tmedit-tools:before {
  content: "";
}

.tmface-scan:before {
  content: "";
}

.tmfilter:before {
  content: "";
}

.tmheat:before {
  content: "";
}

.tmlike:before {
  content: "";
}

.tmlock:before {
  content: "";
}

.tmlogout:before {
  content: "";
}

.tmmenu:before {
  content: "";
}

.tmright-arrow:before {
  content: "";
}

.tmscan-face-o:before {
  content: "";
}

.tmuser:before {
  content: "";
}

.tmwhatsapp:before {
  content: "";
}

.thermoMeter {
  background: linear-gradient(to bottom, #ff922c, #ff5151, #ff0404);
  border-radius: 0 0 40% 40%;
  padding-top: 60px;
  padding-bottom: 150px;
}

.loginForm {
  background-color: white;
  padding: 10px 10px;
  border-radius: 10px;
  margin-top: -90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.144);
}
.loginForm input {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid gray;
}
.loginForm label {
  font-size: 13px;
}
.loginForm button {
  background-color: #fc6823;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.144);
}

/*# sourceMappingURL=style.css.map */
