.wcScanner {
  margin-top: -80px;
}
.wcScanner .white-round {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.144);
  border-radius: 60px;
  width: 150px;
  height: 150px;
}
.wcScanner .white-round .round {
  background: linear-gradient(to bottom, #ff922c, #ff5151, #ff0404);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -10px;
}
.wcScanner .white-round .round a {
  margin-top: 25px;
}
.wcScanner .white-round .round a i {
  font-size: 50px;
  color: white;
  border-radius: 50%;
}

.wcFortis {
  margin-top: 60px;
}
.wcFortis img {
  margin-bottom: 30px;
}
.wcFortis h6 {
  color: gray;
  margin-bottom: 0px;
}

/*# sourceMappingURL=welcome.component.css.map */
