<app-sidebar></app-sidebar>
<nav class="navbar">
    <div class="d-flex">
      <i class="tm tmmenu" onclick="openNav()"></i>
      <div>
          <span>Historic Data</span>
      </div>
        <a href="#"><i class="tm tmfilter"></i></a>
    </div>
</nav>
<div class="histList mt-3">
     <a href="#" routerLink="../viewProfile">
        <div class="d-flex">
            <div class="userImg ml-3">
                <img src="../../assets/img/user.jpg" alt="user" width="50px">
            </div>
            <div class="userText ml-3">
                <span>Shubham Payer</span>
                <p>28-04-2020</p>
            </div>
            <div class="degree"> 
                98&#8457;
            </div>
        </div>
     </a>
     <a href="#"  routerLink="../viewProfile">
        <div class="d-flex">
            <div class="userImg ml-3">
                <img src="../../assets/img/34.jpg" alt="user" width="50px">
            </div>
            <div class="userText ml-3">
                <span>Shubham Payer</span>
                <p>28-04-2020</p>
            </div>
            <div class="degree"> 
                96&#8457;
            </div>
        </div>
     </a>
    <a href="#" routerLink="../viewProfile">
        <div class="d-flex">
            <div class="userImg ml-3">
                <img src="../../assets/img/user.jpg" alt="user" width="50px">
            </div>
            <div class="userText ml-3">
                <span>Shubham Payer</span>
                <p>28-04-2020</p>
            </div>
            <div class="degree"> 
                98&#8457;
            </div>
        </div>
    </a>
    <a href="#"  routerLink="../viewProfile">
        <div class="d-flex">
            <div class="userImg ml-3">
                <img src="../../assets/img/user.jpg" alt="user" width="50px">
            </div>
            <div class="userText ml-3">
                <span>Shubham Payer</span>
                <p>28-04-2020</p>
            </div>
            <div class="degree dan"> 
                100&#8457;
            </div>
        </div>
    </a>
   <a href="#"  routerLink="../viewProfile">
    <div class="d-flex">
        <div class="userImg ml-3">
            <img src="../../assets/img/34.jpg" alt="user" width="50px">
        </div>
        <div class="userText ml-3">
            <span>Shubham Payer</span>
            <p>28-04-2020</p>
        </div>
        <div class="degree dan"> 
            100&#8457;
        </div>
    </div>
   </a>
</div>