.navbar{
    background: linear-gradient(to right, rgb(255, 146, 44), rgb(255, 4, 4));
    padding: 20px 20px;
    i{
        color: white;
        font-size: 40px;
        margin-top: -5px;
    }
    span {
        margin-left: 30px;
        font-size: 20px;
        cursor: pointer;
        width: 100%;
        color: white;
    }  
    a{
        position: absolute;
        right: 10px;
        i{
            font-size: 25px;
        }
    }
}
.histList{
   a{
    text-decoration: none;
    .userImg img{
        border-radius: 50%;
    }
    .userText{
        span{
            color: black;
        }
        p{
            color: grey;
        }
    }
    .degree{
        position: absolute;
        right: 10px;
        font-size: 25px;
        color: rgb(68, 226, 47);
        &.dan{
            color: red;
        }
    }
   }
}