.navbar{
    background: linear-gradient(to right, rgb(255, 146, 44), rgb(255, 4, 4));
    padding: 20px 20px;
    i{
        color: white;
        font-size: 40px;
        margin-top: -5px;
    }
    span {
        margin-left: 60px;
        font-size: 20px;
        cursor: pointer;
        width: 100%;
        color: white;
    }  
}
.a1{
    padding: 10px 30px;
    text-decoration: none;
    color: orangered;
    background-color: rgb(231, 228, 228);
    border-radius: 10px 0 0 10px;
    &.active,
    &:hover{
        background-color: orangered;
        color: white;
        border-radius: 10px 0 0 10px;

    }
}
.a2{
    padding: 10px 30px;
    text-decoration: none;
    color: orangered;
    background-color: rgb(231, 228, 228);   
    border-radius: 0 10px 10px 0;
    &.active,
    &:hover{
        background-color: orangered;
        color: white;
        border-radius: 0 10px 10px 0;

    }        
}
.graph{
    margin: 20px 20px;
    a.icon{
        position: fixed;
        right: 20px;
        top: 180px;
        padding: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.344);
        i{
            font-size: 30px;
            color: orangered;
        }
    }
    img{
        width: 100%;
        height: auto;
    }
}