<app-sidebar></app-sidebar>
<nav class="navbar">
    <div class="d-flex">
      <i class="tm tmmenu" onclick="openNav()"></i>
      <div>
          <span> &nbsp; &nbsp;David Smith</span>
      </div>
    </div>
</nav>
<section onclick="closeNav()">
    <div class="btn2 d-flex justify-content-center my-4">
            <a href="#" routerLink="../viewProfile" class="a1" routerLinkActive="active">Profile</a>
            <a href="#" class="a2" routerLink="../viewHistory" routerLinkActive="active">History</a>
    </div>
    <div class="graph mt-5">
        <a href="#" class="icon" routerLink="../viewHistoryByDate"><i class="tm tmclipboard"></i></a>
        <img src="../../assets/img/graph.svg" alt="graph">
    </div>
</section>    