.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.2s ease-in-out;
    box-shadow: 25px 0 300px 1px black;
    z-index: 999;
    .sideLink{
        a {
            padding:15px 10px;
            text-decoration: none;
            font-size: 15px;
            color: #818181;
            display: block;
            transition: 0.2s;
            margin-top: 5px;
            margin-bottom: 5px;
            &.active,
            &:hover {
                background-color: rgb(206, 201, 201);
                color: rgb(255, 91, 31);
            }
         }
    }
  }
 .navbar1{
    background: linear-gradient(to right, rgb(255, 146, 44), rgb(255, 4, 4));
    padding: 10px;
    a{
        text-decoration: none;
        color: white;
        p{
            margin-top: 5px;
            font-size: 15px;
            margin-left: 10px;
            margin-bottom: 0px;
        }
        span{
            margin-left: 10px;
            font-size: 13px;
        }
    }
 }
