<div id="mySidepanel" class="sidepanel">
  <nav class="navbar1">
    <a href="#" routerLink="../myProfile">
      <div class="d-flex">
        <img src="../../assets/img/user.svg" alt="user" width="50px">
        <div class="UserName">
          <p>Shubham Payer</p>
          <span>My Profile</span>
        </div>
      </div>
    </a>
  </nav>
  <div class="sideLink">
    <a href="#" routerLink="../check-temp" routerLinkActive="active"><i class="tm tmface-scan"></i>&nbsp;&nbsp; Home</a>
    <a href="#" routerLink="../historicData" routerLinkActive="active"><i class="tm tmuser"></i>&nbsp;&nbsp; Historic Data</a>
    <a href="#" routerLink="../changePass" routerLinkActive="active"><i class="tm tmlock"></i>&nbsp;&nbsp; Change Password</a>
    <a href="#"><i class="tm tmlogout"></i>&nbsp;&nbsp; Logout</a>
  </div>
</div>
