<app-check-temp></app-check-temp>
<section class="fixed-bottom text-center"  onclick="closeNav()">
    <div class="d-flex justify-content-center Result">
        <div class="temp text-left">
            <p>Temperature</p>
            <h1>98<span>&#8457;</span></h1>
        </div>
        <div class="mt-4">
           <a href="#" routerLink="../register">Proceed <i class="tm tmright-arrow"></i></a>
        </div>
    </div>
</section>