section{
    background-color: rgba(14, 199, 14, 0.733);
    border-radius: 50% 50% 0 0; 
    width: 150%;
    margin-left: -90px;
    z-index: 1;
    .Result{
        padding: 60px;
        color: white;
        .temp{
            font-weight: 900;
            p{
                margin-bottom: -5px;
            }
            h1{
                font-size: 50px;
            }
        }
        a{
            font-weight: 900;
            text-decoration: none;
            z-index: 99;
            font-size: 20px;
            color: white;
            padding: 15px 20px;
            background-color: rgb(255, 123, 0);
            border-radius: 10px;
            margin-left: 30px;
        }
    }
}