<div class="containerfluid">
    <div class="thermoMeter text-center">
       <img src="../assets/img/logo.png" alt="" width="200px">
    </div>
    <div class="wcScanner d-flex justify-content-center">
        <div class="white-round d-flex justify-content-center mt-3">
            <div class="round d-flex justify-content-center mt-4">
              <a  href="#" routerLink="../check-temp"><i class="tm tmface-scan"></i></a>
            </div>
        </div>
    </div>
    <div class="wcFortis text-center mt-5 pt-5">
          <img src="../../assets/img/fortis-logo.png" alt="">
          <h6>Welcome to</h6>
          <h6>Fortis Hospital, Mulund</h6>
    </div>
</div>    