.wcScanner{
    margin-top: -80px;
   .white-round{
       background-color: rgb(255, 255, 255);
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.144);
       border-radius: 60px;
       width: 150px;
       height: 150px;
    .round{   
        background: linear-gradient(to bottom, rgb(255, 146, 44),rgb(255, 81, 81), rgb(255, 4, 4));
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-top: -10px;
        a{
            margin-top: 25px; 
            i{
                font-size: 50px;
                color: white;
                border-radius: 50%;        
            }
        }
    }
   }
}
.wcFortis{
    margin-top: 60px;
    img{
        margin-bottom: 30px;
    }
    h6{
        color: gray;
        margin-bottom: 0px;
    }
}