<app-sidebar></app-sidebar>
<nav class="navbar">
    <div class="d-flex">
      <i class="tm tmmenu" onclick="openNav()"></i>
      <div>
          <span>Check Your Temperature</span>
      </div>
    </div>
</nav>
<section onclick="closeNav()">
    <a href="#" routerLink="../check-temp2">
        <img class="imgUser" src="../../assets/img/user.jpg" alt="user" width="100%" height="auto">
        <img class="bracket px-2" src="../../assets/img/photo_corner.svg" alt="corner" width="100%" height="auto">
    </a>
</section>