.navbar{
    background: linear-gradient(to right, rgb(255, 146, 44), rgb(255, 4, 4));
    padding: 20px 20px;
    i{
        color: white;
        font-size: 40px;
        margin-top: -5px;
    }
    span {
        margin-left: 30px;
        font-size: 20px;
        cursor: pointer;
        width: 100%;
        color: white;
    }  
}
section{
    .imgUser{
        position: relative;
    }
    .bracket{
        position: absolute;
        top: 80px;
        left: 0;
    }
}