.navbar{
    background: linear-gradient(to right, rgb(255, 146, 44), rgb(255, 4, 4));
    padding: 20px 20px;
    i{
        color: white;
        font-size: 40px;
        margin-top: -5px;
    }
    span {
        margin-left: 60px;
        font-size: 20px;
        cursor: pointer;
        width: 100%;
        color: white;
    }  
}
.register{
    margin-top: 10px;
    .form-group{
        padding: 0px 10px;
        label{
            font-size: 13px;
        }
        input{
            border: none;
            margin-left: 0;
            padding-left: 0;
            border-bottom: 1px solid gray;
            border-radius: 0;
            margin-top: -5px;
            font-size: 15px;
        }
    }
    .submitReg{
        width: 100%;
        margin: 0;
        padding: 0;
        background: rgb(255, 146, 44);
        padding: 20px;
        a{
            color: white;
            font-size: 20px;
            text-decoration: none;
            padding: 0 90px;
        }
    }
}