<div class="thanku d-flex justify-content-center">
    <div class="white-round d-flex justify-content-center mt-3">
        <div class="round d-flex justify-content-center mt-4">
          <a href="#" routerLink="../history"> <i class="tm tmlike"></i> </a>
        </div>
    </div>
</div>
<div class="text-center tuText mt-4">
   <h1>Thank you!</h1>
   <span>Shubham Payer</span>
   <p>You are successfully register with <br>smart thermometer</p> 
   <img src="../../assets/img/skyline.svg" alt="skyline" width="100%">
</div>