.thanku{
    margin-top: 50px;
   .white-round{
       background-color: rgb(255, 255, 255);
       box-shadow: 0 0px 30px rgba(0, 0, 0, 0.200);
       border-radius: 60px;
       width: 200px;
       height: 200px;
    .round{   
        background: linear-gradient(to bottom, rgb(255, 146, 44),rgb(255, 81, 81), rgb(255, 4, 4));
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-top: -10px;
        a{
            margin-top: 30px;
            i{
                font-size: 80px;
                color: white;
                border-radius: 50%;        
             }
        }
    }
   }
}
.tuText{
    h1{
        font-size: 30px;
        color: rgb(255, 146, 44);
        font-weight: 900;
    }
    span{
        color: black;
        font-weight: 900;
        font-size: 20px;
    }
    p{
        margin-top: 10px;
        font-size: 19px;
        color: gray;
    }
}