<app-sidebar></app-sidebar>
<nav class="navbar">
    <div class="d-flex">
      <i class="tm tmmenu" onclick="openNav()"></i>
      <div>
          <span> &nbsp; &nbsp;David Smith</span>
      </div>
    </div>
</nav>
<section onclick="closeNav()">
    <div class="btn2 d-flex justify-content-center my-4">
            <a href="#" routerLink="../viewProfile" class="a1">Profile</a>
            <a href="#" class="a2 active" routerLink="../viewHistory">History</a>
    </div>
    <div class="graph mt-5">
        <a class="icon" href="#" routerLink="../viewHistory"><i class="tm tmbars"></i></a>
        <a class="d-flex justify-content-between">
            <p>28-04-2020</p>
            <span>98&#8457;</span>
        </a>
        <a class="d-flex justify-content-between">
            <p>28-04-2020</p>
            <span>98&#8457;</span>
        </a>
        <a class="d-flex justify-content-between">
            <p>28-04-2020</p>
            <span class="high">102&#8457;</span>
        </a>
        <a class="d-flex justify-content-between">
            <p>28-04-2020</p>
            <span>98&#8457;</span>
        </a>
        <a class="d-flex justify-content-between">
            <p>28-04-2020</p>
            <span class="high">102&#8457;</span>
        </a>
        <a class="d-flex justify-content-between">
            <p>28-04-2020</p>
            <span>98&#8457;</span>
        </a>
        <a class="d-flex justify-content-between">
            <p>28-04-2020</p>
            <span>98&#8457;</span>
        </a>
    </div>
</section>    